html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: #444444 !important;
}

form h2, button {
    margin-left: -10px !important;
}

form{
    margin-left: 20px;
}
header, nav {
    background-color: cadetblue;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.question-text{
    color: #444444 !important;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    color: white;
}

nav li:not(:last-child) {
    margin-right: 20px;
}

nav a{
    color: inherit;
    text-decoration: inherit;
}

nav a:hover{
    color: #aaa;
}

footer {
    background-color: cadetblue;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.footer-links{
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer-links a{
    color: inherit;
    text-decoration: inherit;
}

.footer-links i{
    font-size: 40px;
}

.footer-links a:not(:last-child)  {
    margin-right: 50px;
}

canvas {
    object-fit: contain;
}
